controller:
  # in v3.0+, a second controller can be ran as a hot-standby: https://argoproj.github.io/argo-workflows/high-availability/#workflow-controller
  replicas: 2 # should be strictly greater than PDB minAvailable
  # enable PDB with at least one Pod
  pdb:
    # -- Configure [Pod Disruption Budget] for the controller pods
    enabled: true
    minAvailable: 1
  # Enable the creation of the ServiceMonitor
  serviceMonitor:
    enabled: true
  # Expose Metrics
  metricsConfig:
    enabled: true
  # Expose Telemetry
  telemetryConfig:
    enabled: true  

server:
  # enable HPA with at least two Pods
  autoscaling:
    # -- Enable Horizontal Pod Autoscaler ([HPA]) for the Argo Server
    enabled: true
    # -- Minimum number of replicas for the Argo Server [HPA]
    minReplicas: 2 # should be strictly greater than PDB minAvailable
  # enable PDB with at least one Pod
  pdb:
    # -- Configure [Pod Disruption Budget] for the controller pods
    enabled: true
    minAvailable: 1
  
  # -- Extra arguments to provide to the Argo server binary.
  ## Ref: https://argoproj.github.io/argo-workflows/argo-server/#options
  extraArgs:
    - --auth-mode=sso

  # SSO configuration when SSO is specified as a server auth mode.
  sso:
    issuer: https://argocd-server-gitops.apps.ocp.sandbox1039.opentlc.com/api/dex
    # sessionExpiry defines how long your login is valid for in hours. (optional, default: 10h)
    sessionExpiry: 240h
    clientId:
      # -- Name of secret to retrieve the app OIDC client ID
      name: argo-workflows-sso
      # -- Key of secret to retrieve the app OIDC client ID
      key: client-id
    clientSecret:
      # -- Name of a secret to retrieve the app OIDC client secret
      name: argo-workflows-sso
      # -- Key of a secret to retrieve the app OIDC client secret
      key: client-secret
    # - The OIDC redirect URL. Should be in the form <argo-root-url>/oauth2/callback.
    redirectUrl: https://cluster-argo-workflows.apps.ocp.sandbox1039.opentlc.com//oauth2/callback